PORT=3000
DATABASE_URL=postgres://postgres:Royal123456@localhost:5432/db_kamu
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d

DATABASE_URL=postgresql://neondb_owner:npg_axQ8VrWzcJt0@ep-dawn-dew-a13t0ta5.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
